<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>natyv Stylesheet</string>
	<key>uuid</key>
	<string>7c2f7f7e-1c2a-4b7e-9c2d-6c1a9e6f2a11</string>
</dict>
</plist>
